@font-face {
  font-family: "Shrikland";
  src: url("Fonts/Shrikhand-Regular.otf");
  font-weight: normal/bold/inherit;
  font-style: normal/inherit/italic/oblique;
}

@font-face {
  font-family: "Roboto";
  src: url("Fonts/roboto.zip");
  font-weight: normal/bold/inherit;
  font-style: normal/inherit/italic/oblique;
}

body {
  height: 100vh;
  width: 375px;
  font-family: "Roboto","Trebuchet MS", Arial, sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  border-bottom: 5px solid #e3e3e3;
}

.logo img {
  width: 160px;
  height: 30px;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  height: 50px;
  background-color: #eaeaea;
  font-weight: bold;
}

.location .fas {
  padding-right: 10px;
}

#discover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 300px;
  background-color: #f6f6f6;
}

#discover h2 {
  text-align: center;
  font-size: 1.4em;
  padding: 20px 50px;
  margin: 20px auto 0 auto;
}

#discover p {
  text-align: center;
  margin-top: 0;
}

#discover .gradient-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 220px;
  height: 50px;
  border-radius: 35px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(#ff79da, #9356dc);
  text-decoration: none;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-size: 0.9em;
}

#fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 440px;
}

#fonctionnement h3 {
  font-size: 1.4em;
  padding: 20px 10px;
}

#fonctionnement #buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#fonctionnement #buttons .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 90%;
  height: 79px;
  margin-bottom: 30px;
  border-radius: 20px;
  border: none;
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
  background-color: #f6f6f6;
  -webkit-box-shadow: 5px 5px 5px #ededed;
          box-shadow: 5px 5px 5px #ededed;
}

#fonctionnement #buttons .button .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  color: white;
  background-color: #9356dc;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#fonctionnement #buttons .button .fas {
  font-size: 1.4em;
  padding-right: 30px;
  color: #7e7e7e;
}

#fonctionnement #buttons .button .fas:hover {
  color: #9356dc;
}

#fonctionnement #buttons .button:hover {
  background-color: #f5edff;
}

#restaurants {
  background-color: #f6f6f6;
}

#restaurants h3 {
  font-size: 1.4em;
  padding: 20px 10px;
}

#restaurants .card {
  position: relative;
  width: 90%;
  height: 252px;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: white;
}

#restaurants .card span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 81px;
  height: 30px;
  border-radius: 3px;
  font-size: 0.9em;
  background-color: #99e2d0;
  color: #008766;
}

#restaurants .card .card-image {
  width: 100%;
  height: 175px;
  border-radius: 20px 20px 0 0;
}

#restaurants .card .img-1 {
  background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
}

#restaurants .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
}

#restaurants .card .card-body .text {
  width: 70%;
  padding-left: 15px;
}

#restaurants .card .card-body .text h4 {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 0;
  margin-top: 10px;
}

#restaurants .card .card-body .text p {
  margin-top: 5px;
}

#restaurants .card .card-body .like-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 80px;
}

#restaurants .card .card-body .like-btn .fa-heart {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 2em;
}
/*# sourceMappingURL=styles.css.map */